#container{
  height: 100vh;
  overflow: hidden
}

.leaflet-container {
  width: 100%;
  height: 70vh;
}

#loading {
  display: flex;
  height: 90%;
  font-size: 24px;
  justify-content: center;
  align-items: center
}

#selected {
  height: 20vh;
  overflow-y: auto
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}